<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009266331586-fb26io3ftp31jb6rif9m6jh75qm3ukde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009266331586-fb26io3ftp31jb6rif9m6jh75qm3ukde</string>
	<key>API_KEY</key>
	<string>AIzaSyCNzHNif5Kg2xJd-23N2Ht8yns8NMOB7GA</string>
	<key>GCM_SENDER_ID</key>
	<string>1009266331586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginUi</string>
	<key>PROJECT_ID</key>
	<string>loginui-60394</string>
	<key>STORAGE_BUCKET</key>
	<string>loginui-60394.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009266331586:ios:97169b2e8dc7a79d16905b</string>
</dict>
</plist>